* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: limegreen;

}

button {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

input {
  border: 1px solid lightgray;
  height: 40px;
  border-radius: 6px;
  padding: 6px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding-bottom: 12px;
}

button {
  cursor: pointer;
}

.form-group {
  margin-bottom: 12px;
}

.form-button {
  background-color: green;
  color: white;
  border: none;
  font-weight: 700;
  padding: 12px 16px;
  border-radius: 6px;
}

.form-button:hover {
  background-color: rgb(65, 102, 10);
}

.form {
  background-color: white;
  margin: 24px auto;
  width: 100%;
  max-width: 620px;
  border: 1px solid lightgray;
  border-radius: 6px;
  padding: 12px;
}

.form .form-input {
  width: 100%;
}